@use "font";

$color-mode-type: media-query;
$font-family-base: "Raleway";
$primary: hsl(125, 50%, 50%);
// $primary: rgb(100, 210, 110);

@import "colors";

$bootstrap-icons-font-dir: "/assets/fonts";
@import "pkg:bootstrap-icons/font/bootstrap-icons.scss";
@import "pkg:bootstrap/scss/bootstrap.scss";

// Extra `text-wrap` option not provided by bootstrap

.text-wrap-balance {
  text-wrap: balance;
}

// Block quotes for articles

blockquote {
  @extend .position-relative,
  .border-start, .border-4, .border-primary,
  .ms-4, .ps-2;
}

blockquote::before {
  content: '\F6B0';

  position: absolute;
  top: -12px;
  left: -32px;

  rotate: 180deg;

  font-family: bootstrap-icons;
  font-style: italic;
  font-size: 30px;
}

// Hovered and active links in the navigation bar

.nav-link {
  @extend .border-primary, .border-4;

  @include media-breakpoint-down(md) {
    & {
      border-left-style: solid;
      padding-left: 0.5rem;
      // margin-left: -0.5rem;
    }
  }

  @include media-breakpoint-up(md) {
    & {
      border-bottom-style: solid;
    }
  }

  --bs-border-opacity: 0;

  &:hover {
    @extend .border-opacity-25;
  }

  &.active {
    @extend .border-opacity-100;
  }
}

// Color inversion utility for dark mode

@include color-mode(dark) {
  .dark-invert {
    filter: invert(100%);
  }
}
