<div class="pb-5 bg-body-secondary">
  <div class="container-lg py-3">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 text-center text-md-start">
        <p class="fw-bold mb-2">hello@komm-on.hu</p>
        <p class="fw-bold mb-2">BME E épület 703. terem</p>
        <p class="fw-bold mb-2">1111 Budapest, Egry József utca 1.</p>
        <div
          class="d-flex justify-content-center justify-content-md-start align-items-center gap-3 mt-3">
          <div class="bg-black dark-invert flex-shrink-0"
            style="width: 90px; height: 75px; mask: url('/assets/images/logo.svg')">
          </div>
          <img class="dark-invert flex-shrink-1"
            style="min-width: 0; max-height: 65px;" src="/assets/images/bme.png"
            title="Budapesti Műszaki és Gazdaságtudományi Egyetem"
            alt="Budapesti Műszaki és Gazdaságtudományi Egyetem" />
        </div>
      </div>
      <hr class="d-md-none my-2" />
      <div class="col-12 col-md-4 d-flex justify-content-around">
        <a class="text-body" href="https://www.facebook.com/kommonkszk">
          <i class="bi-facebook fs-1"></i>
        </a>
        <a class="text-body"
          href="https://www.instagram.com/kommon.szakkollegium/">
          <i class="bi-instagram fs-1"></i>
        </a>
        <a class="text-body" href="https://www.linkedin.com/company/3281560">
          <i class="bi-linkedin fs-1"></i>
        </a>
      </div>
      <hr class="d-md-none my-2" />
      <div class="col-12 col-md-4 text-center text-md-end">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">
            <a class="fw-bold text-body" href="/gyakran-ismetelt-kerdesek">
              Gyakran ismételt kérdések
            </a>
          </li>
          <li class="list-group-item bg-transparent">
            <a class="fw-bold text-body"
              href="/adatvedelmi-es-adatkezelesi-tajekoztato">
              Adatvédelmi nyilatkozat
            </a>
          </li>
          <li class="list-group-item bg-transparent">
            <a class="fw-bold text-body"
              href="https://drive.google.com/file/d/1DfANJV-mgmyDf6TvkRqxVnBK8E9X-xiC/view?usp=sharing"
              target="_blank">
              Szervezeti Működési Szabályzat
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
