---
layout: main
---

<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xxl-9">
      <img src="{{ cover }}" class="img-fluid" />

      <div class=" p-5 bg-body shadow">
        <h1 class="text-primary text-center text-wrap-balance">
          {{ title }}
        </h1>
        <p class="text-center text-primary-emphasis">
          <i class="bi bi-calendar-fill"></i>
          {{ date | date: "%Y. %m. %d." }}
        </p>

        <p class="lead">{{ teaser }}</p>
        <div>{{ content }}</div>

        <div class="row mt-5">
          <div class="col text-start">
            {%
            assign nextPost =
            collections.blog-post | getNextCollectionItem
            %}
            {% if nextPost %}
            <a href="{{ nextPost.url }}" class="
                btn btn-outline-primary h-100
                d-inline-flex align-items-center gap-1
              ">
              <i class="bi-arrow-left"></i>
              Következő bejegyzés
              <br />
              {{ nextPost.data.title }}
            </a>
            {% endif %}
          </div>
          <div class="col text-end">
            {%
            assign previousPost =
            collections.blog-post | getPreviousCollectionItem
            %}
            {% if previousPost %}
            <a href="{{ previousPost.url }}" class="
                btn btn-outline-primary h-100
                d-inline-flex align-items-center gap-1
              ">
              Előző bejegyzés:
              <br />
              {{ previousPost.data.title }}
              <i class="bi-arrow-right"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
