---
layout: main
---

<!-- <div class="py-3" style="background-color: var(--bs-tertiary-color);"> -->
<div class="bg-body-secondary py-3">
  <div class="container d-flex align-items-center gap-2">
    <!-- <h1 class="text-lowercase fw-bold mb-0" style="color: var(--bs-body-bg)"> -->
    <h1 class="text-lowercase fw-bold mb-0">
      {{ title }}
    </h1>
    <hr class="flex-grow-1 border-5 opacity-100" />
  </div>
</div>
<!-- <div class="container my-3 p-5 bg-body"> -->
<div class="container my-5">
  {{ content }}
</div>
